<div class="banner">

    <!-- <img src="image/pexels-jane-d-1128678.jpg"> -->
        <div class="left">
          <img src="../../assets/images/banner1.png" alt="" class="bannerimg" id="bann1">
        </div>
        <div class="right">
          <img src="../../assets/images/banner2.png" alt="" class="bannerimg" id="bann2">
        </div>
        <div class="heading">
          <h2>Welcome<br>to<br>SHOESKART</h2>
  
          <button>Shop now</button>
        </div>
  </div>