<div id="footer">
    <div class="footerinput">
        <input type="email" placeholder="example@gmail.com">
        <button type="reset">Submit</button>
    </div>

    <div class="footerdata">
        <div class="footermenu">
            <p><b>PRODUCTS</b></p>
            <ul>
                <li>Home</li>
                <li>Category</li>
                <li>Trending</li>
                <li>Formal Shoes</li>            
            </ul>
        </div>
    
        <div class="footerservice">
            <p><b>SERVICE</b></p>
            <ul>
                <a href="/shoeskart/aboutus">
                    <li>About us</li>
                </a>
                <a href="">
                    <li>Contact Us</li>
                </a>
                <a href="">
                    <li>Terms & Conditions</li>
                </a>
                <a href="">
                    <li>Privacy Policy</li>
                </a>
            </ul>
        </div>
        <div class="footercontact">
            <p><b>Contact</b></p>
            <ul>
                <li>
                    <i class="fa fa-home"></i>
                    MOHAMMAD ZAI, SPN
                </li>
                <a class="contN" href="tel:+919335569393">
                    <i class="fa fa-phone"></i>
                    9335569393
                </a>
                <li>
                    <i class="fa fa-envelope-o"></i>
                    ms9114086@gmail.com
                </li>
                <div class="socialicon">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                </div>
            </ul>
        </div>
    </div>
</div>
