<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<header>
    <%- include('../partials/header'); %>

</header>

<div class="aboutus">
    <div class="aboutusheading">
        <img src="../../assets/images/aboutusbanner.png" alt="">
       <div class="aboutbanner">
            <h1>About us</h1>
            <p>Sufiyan Lorem ipsue dolor sit amet consectetur adipisicing elit. Quasi adipisci praesentium.</p>
       </div>
    </div>
    <div class="aboutusmaincontect">
        <div class="aboutusinfo clrorange">
            <div class="ourinfocontent">
                <h1>Our Story</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem rem consequatur animi molestias eos nulla a nobis dicta impedit minima ab corrupti sequi debitis, magni optio voluptatibus autem eveniet! Inventore, tempore vitae quam dolores aperiam odio sunt at quasi voluptatem pariatur asperiores fugiat tempora dicta reiciendis blanditiis accusamus! Saepe unde, ipsam quos eius incidunt nemo suscipit ut a eaque ex impedit deserunt cum tempora similique aspernatur pariatur et laudantium! Facere hic, nemo voluptate nesciunt inventore iste reprehenderit nobis, et veniam explicabo, ad itaque fugit voluptatum quae alias blanditiis quam. Officia.</p>
            </div>
            <div class="ourinfoimg">
                <img src="../../assets/images/aboutus1.png">
            </div>
        </div>

        <div class="aboutusinfo clrgreen">
            <div class="ourinfoimg">
                <img src="../../assets/images/aboutus2.png">

            </div>
            <div class="ourinfocontent moremargin" >
                <h1>Our Mission</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem rem consequatur animi molestias eos nulla a nobis dicta impedit minima ab corrupti sequi debitis, magni optio voluptatibus autem eveniet! Inventore, tempore vitae quam dolores aperiam odio sunt at quasi voluptatem pariatur asperiores fugiat tempora dicta reiciendis blanditiis accusamus! Saepe unde, ipsam quos eius incidunt nemo suscipit ut a eaque ex impedit deserunt cum tempora similique aspernatur pariatur et laudantium! Facere hic, nemo voluptate nesciunt inventore iste reprehenderit nobis, et veniam explicabo, ad itaque fugit voluptatum quae alias blanditiis quam. Officia.</p>
            </div>
            
        </div>

        <div class="aboutusinfo clrblue">
            <div class="ourinfocontent">
                <h1>Our Success</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem rem consequatur animi molestias eos nulla a nobis dicta impedit minima ab corrupti sequi debitis, magni optio voluptatibus autem eveniet! Inventore, tempore vitae quam dolores aperiam odio sunt at quasi voluptatem pariatur asperiores fugiat tempora dicta reiciendis blanditiis accusamus! Saepe unde, ipsam quos eius incidunt nemo suscipit ut a eaque ex impedit deserunt cum tempora similique aspernatur pariatur et laudantium! Facere hic, nemo voluptate nesciunt inventore iste reprehenderit nobis, et veniam explicabo, ad itaque fugit voluptatum quae alias blanditiis quam. Officia.</p>
            </div>
            <div class="ourinfoimg">
                <img src="../../assets/images/aboutus3.png">
            </div>
        </div>

    </div>
</div>






<!-- ------------------------Aur team section--------------------------------->
<div class="teamheader">
    <h1>Our Team</h1>
</div>

<div id="ourteam">
    <div class="aboutteam">
        <div class="profile">
            <div class="profileimage">
                <img src="../../assets/images/azeem.jpeg">
            </div>
            <div class="profilename">
                <p><span>Mohd Azeem</span> <br>- Cloud Server</p>

            </div>
        </div>
        <div class="intro">
            <p>
                My self Mohd Sufiyan. I'm from Shahjahanpur U.P. I have developed this website.
                I loaded this design from pintrest, and then designed it by writing code in html css.
                This website is responsive on all devices. This is a fruits online store named Fruito.
            </p>
        </div>
    </div>
    <div class="aboutteam">
        <div class="profile">
            <div class="profileimage">
                <img src="../../assets/images/IMG_0045.JPG">
            </div>
            <div class="profilename">
                <p><span>Mohd Sufiyan</span> <br>- Developer</p>
            </div>
        </div>
        <div class="intro">
            <p>
                My self Mohd Sufiyan. I'm from Shahjahanpur U.P. I have developed this website.
                I loaded this design from pintrest, and then designed it by writing code in html css.
                This website is responsive on all devices. This is a fruits online store named Fruito.
            </p>
        </div>
    </div>
    <div class="aboutteam">
        <div class="profile">
            <div class="profileimage">
                <img src="../../assets/images/saksham.jpeg">
            </div>
            <div class="profilename">
                <p><span>Saksham Mishra</span> <br>- Developer</p>

            </div>
        </div>
        <div class="intro">
            <p>
                My self Mohd Sufiyan. I'm from Shahjahanpur U.P. I have developed this website.
                I loaded this design from pintrest, and then designed it by writing code in html css.
                This website is responsive on all devices. This is a fruits online store named Fruito.
            </p>
        </div>
    </div>
</div>
<div class="supportbaar">
    <div class="support">
        <p><i class="fa fa-support"></i>24/7 Free Support</p>
        <p><i class="fa fa-truck"></i>Free Worldwide Shipping</p>
        <p><i class="fa fa-money"></i>Money Back Guarantee</p>
    </div>
</div>

    

<footer>

    <%- include('../partials/footer'); %>
</footer>
</body>
</html>